src/flows/Assign_Primary_Contact_to_Opportunity.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>Designed to populate the Primary Contact lookup field on the opportunity that is subsequently used to assign the First and Last Touch campaign values when an opportunity was created from a contact record.</descriptions>
    <decisions>
        <name>campaign_fields_not_blank</name>
        <label>campaign fields not blank</label>
        <locationX>152</locationX>
        <locationY>477</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Campaign_Fields_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_firstTouchCampaign</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_lastTouchCampaign</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_opportunity_campaign_fields</targetReference>
            </connector>
            <label>Campaign Fields not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primary_Contact_not_null</name>
        <label>Primary Contact not null</label>
        <locationX>149</locationX>
        <locationY>284</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Primary_Contact_does_not_equal_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_with_Primary_Contact_ID</targetReference>
            </connector>
            <label>Primary Contact does not equal null</label>
        </rules>
    </decisions>
    <interviewLabel>Assign Primary Contact to Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Primary Contact to Opportunity</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Primary_Opportunity_Contact_Role_ID</name>
        <label>Find Primary Opportunity Contact Role ID</label>
        <locationX>149</locationX>
        <locationY>89</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Campaign_Info</targetReference>
        </connector>
        <filters>
            <field>IsPrimary</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
        <outputAssignments>
            <assignToReference>varContactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Campaign_Info</name>
        <label>Get Contact Campaign Info</label>
        <locationX>149</locationX>
        <locationY>195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Primary_Contact_not_null</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>var_firstTouchCampaign</assignToReference>
            <field>First_Touch_Campaign__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_lastTouchCampaign</assignToReference>
            <field>Last_Touch_Campaign__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_opportunity_campaign_fields</name>
        <label>Update opportunity campaign fields</label>
        <locationX>152</locationX>
        <locationY>571</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>First_Touch_Campaign__c</field>
            <value>
                <elementReference>var_firstTouchCampaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Touch_Campaign__c</field>
            <value>
                <elementReference>var_lastTouchCampaign</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_with_Primary_Contact_ID</name>
        <label>Update Opportunity with Primary Contact ID</label>
        <locationX>151</locationX>
        <locationY>379</locationY>
        <connector>
            <targetReference>campaign_fields_not_blank</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>First_Touch_Campaign__c</field>
            <value>
                <elementReference>var_firstTouchCampaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Touch_Campaign__c</field>
            <value>
                <elementReference>var_lastTouchCampaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Find_Primary_Opportunity_Contact_Role_ID</startElementReference>
    <status>Active</status>
    <variables>
        <name>var_firstTouchCampaign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_lastTouchCampaign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
